{% load static%}
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin panel</title>
    <link rel="stylesheet" href="{% static 'css/agp-home.css' %}" class="css">
</head>
<body>
    <div class="wrapper">
        
        <div class="nav">
            
        </div>
        <div class="main">
            <div class="main-primary">
                <div class="tickets"></div>
                <div class="orders"></div>
                <div class="clients"></div>
            </div>
            <div class="main-secondary">
                <div class="soon-to-expire"></div>
                <div class="money-graph"></div>
            </div>
        </div>
    </div>
</body>
</html>