{% load static%}
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agp-webftp</title>
    <link rel="stylesheet" href="{% static 'css/agp-webftp.css' %}" class="css">
</head>
<body>
    <div class="wrapper">
        
        <div class="nav"></div>
        <div class="main">
            <div class="webftp-overview"></div>
            <div class="sidebar">
                <div class="import-file"></div>
                <div class="download-file"></div>
                <div class="delete-file"></div>
            </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>