{% load static%}
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agp servers</title>
    <link rel="stylesheet" href="{% static 'css/agp-servers.css' %}" class="css">
</head>
<body>
    <div class="wrapper">
        
        <div class="nav"></div>
        <div class="main">
            <div class="servers-content">
                <div class="server-content">
                    <input type="checkbox" class="server-checkbox">
                    <div class="srv-name"></div>
                    <div class="srv-players"></div>
                    <div class="srv-ip"></div>
                    <div class="srv-online"></div>
                </div>
                <div class="server-content"></div>
                <div class="server-content"></div>
                <div class="server-content"></div>
                <div class="server-content"></div>
                <div class="server-content"></div>
                <div class="server-content"></div>
            </div>
            <div class="servers-edit">
                <div class="srv-selected"></div>
                <div class="delete-srv"></div>
                <div class="add-srv"></div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>