{% load static%}
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agp servers</title>
    <link rel="stylesheet" href="{% static 'css/agp-clients.css' %}" class="css">
</head>
<body>
    <div class="wrapper">
        
        <div class="nav"></div>
        <div class="main">
            <div class="clients-header">
                <div class="new-clients"></div>
                <div class="online-clients"></div>
            </div>
            <div class="manage-clients">
                <div class="clients-overview"></div>
                <div class="manage-tools"></div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>