{% load static%}
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agp-support</title>
    <link rel="stylesheet" href="{% static 'css/agp-support.css' %}" class="css">
</head>
<body>
    <div class="wrapper">
        
        <div class="nav"></div>
        <div class="main">
            <div class="support-header">
                <div class="tickets-count"></div>
                <div class="tickets-answered"></div>
                <div class="bug-alerts"></div>
            </div>
            <div class="tickets-overview">
                <div class="ticket-emergency"></div>
                <div class="ticket-bug"></div>
                <div class="ticket-question"></div>
                <div class="ticket-payment"></div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>