{% load static %}
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cs-overview.css' %}" class="css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
    <title>[ SG:GP ] Boost</title>
</head>
<body>
    <div class="wrapper-bg">
        <div class="wrapper">
            <div class="user">
                <div class="user-img">
                    <img src="{{ customer.img.url }}" class="user-slika">
                </div>
                <div class="user-info">
                    <div class="user-username">
                        <p style="font-size: 11;margin: -10px;">Dobrodosli,</p> <br>
                        {{ server.ftp_user }}
                    </div>
                    <div class="user-balance">420 <div class="dolar">$</div> </div>
                    <div class="user-logout">
                        <a href="{% url 'user_logout' %}" class="logout">Logout</a>
                    </div>
                </div>
    
            </div>
            <div class="main">
                <div class="nav">
                    <div class="nav-button">
                        <img class="nav-icon" src="{% static 'images/nav-overview.png' %}" alt="">
                        <a href="{% url 'cs-overview' server.id %}" class="nav-overview">Overview</a>
                    </div>
                    <div class="nav-button" >
                        <img class="nav-icon" src="{% static 'images/nav-console.png' %}" alt="">
                        <a href="{% url 'cs-console' server.id %}" class="nav-console">Console</a>
                    </div>
                    <div class="nav-button" >
                        <img class="nav-icon" src="{% static 'images/nav-webftp.png' %}" alt="">
                        <a href="{% url 'cs-webftp' server.id %}" class="nav-webftp">WebFTP</a>
                    </div>
                    <div class="nav-button">
                        <img class="nav-icon" src="{% static 'images/nav-admins.png' %}" alt="">
                        <a href="{% url 'cs-admins' server.id %}" class="nav-admins">Admins</a>
                    </div>
                    <div class="nav-button">
                        <img class="nav-icon" src="{% static 'images/nav-plugins.png' %}" alt="">
                        <a href="{% url 'cs-plugins' server.id %}" class="nav-plugins">Plugins</a>
                    </div>
                    <div class="nav-button">
                        <img class="nav-icon" src="{% static 'images/nav-mods.png' %}" alt="">
                        <a href="{% url 'cs-mods' server.id %}" class="nav-mods">Mods</a>
                    </div>
                    <div class="nav-button">
                        <img class="nav-icon" src="{% static 'images/nav-boost.png' %}" alt="">
                        <a href="{% url 'cs-boost' server.id %}" class="nav-boost">Boost</a>
                    </div>
                    <div class="nav-button">
                        <img class="nav-icon" src="{% static 'images/nav-backup.png' %}" alt="">
                        <a href="{% url 'cs-backup' server.id %}" class="nav-backup">Backup</a>
                    </div>
                </div>

    <div class="content">
        <hr class="hr">
    <div class="boost-content">
        <div class="boost-header">
            <div class="boost-img">
                <img src="{% static 'images/nav-boost.png' %}" alt="" class="boost-image">
            </div>
            <div class="boost-text">
                <h3>Boost <br></h3>
                <p>Ovde mozete da boostujete vas server kako bi vise igraca doslo na njega.</p>
            </div>
            
        </div>
        <div class="boost-main">
            <div class="boost-active">
                <h3>Boost Activate</h3><br>
                <p>Not Active</p>
            </div>
            <div class="boost-available">
                <h3>Boost Available</h3><br>
                <p>Boost Now</p>
            </div>
            <div class="boost-index">
                <div class="boost-count">
                    <h3>Boost Count</h3><br>
                <p>1</p>
                </div>
                <div class="boost-schedule">
                    <h3>Boost Schedule</h3><br>
                <p>Schedule next boost on mm/hh/yryr </p>
                </div>
                
            </div>
        </div>
    </div>
</div>

</div>
    
<div class="sidebar">

     <div class="sidebar-link" data-hover-text="Home">
        <a href="{% url 'gamepanel' %}"><img class="sidebar-img-home" src="{% static 'images/home.png' %}"></a>
    </div>

    <div class="sidebar-link" data-hover-text="Servers">
        <a href="{% url 'gp-servers' %}"><img class="sidebar-img-servers" src="{% static 'images/servers.png' %}"></a>
    </div>

    <div class="sidebar-link" data-hover-text="Support">
        <a href="{% url 'gp-support' %}"><img class="sidebar-img-servers" src="{% static 'images/support.png' %}"></a>
    </div>

    <div class="sidebar-link" data-hover-text="User Panel">
        <a href="{% url 'gp-user' %}"><img class="sidebar-img-servers" src="{% static 'images/user.png' %}"></a>
    </div>
</div>

</div>
</div>

<script src="{% static 'js/cs.js' %}"></script>

<script>
// Inicijalno sakrij sve div-ove osim "overview-content"
const elementsToHide = document.querySelectorAll('.hidden');
for (const element of elementsToHide) {
element.style.display = 'none';
}

function toggleVisibility(target) {
// Sakrij sve div-ove sa klasom "hidden"
for (const element of elementsToHide) {
element.style.display = 'none';
}

// Prikaži ciljni div
const targetElement = document.querySelector(`.${target}-content`);
if (targetElement) {
targetElement.style.display = 'block';
}
}
</script>



</body>
</html>