{% load static%}
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/gp-servers.css' %}" class="css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
    <title>[ SG:GP ] Servers</title>
</head>
<body>
    <div class="wrapper-bg">
        <div class="wrapper">
            <div class="user">
                <div class="user-img">
                    <img src="{{ customer.img.url }}" class="user-slika">
                </div>
                <div class="user-info">
                    <div class="user-username">
                        <p style="font-size: 11;margin: -10px;">Dobrodosli,</p> <br>
                        {{ customer }}
                    </div>
                    <div class="user-balance">{{ customer.balance }} <div class="dolar">$</div> </div>
                    <div class="user-logout">
                        <a href="{% url 'user_logout' %}" class="logout">Logout</a>
                    </div>
                </div>
    
            </div>
            
            <div class="main">
                {% for server in servers %}
                <div class="server">
                    <a href="{% url 'cs-overview' server.id %}">
                        <img src="{% static 'images/servers-cs.png' %}" class="csgo-img">
                    </a>
                    
                </div>
                {% endfor %}
            </div>
    
            <div class="sidebar">

                 <div class="sidebar-link" data-hover-text="Home">
                    <a href="{% url 'gamepanel' %}"><img class="sidebar-img-home" src="{% static 'images/home.png' %}"></a>
                </div>
    
                <div class="sidebar-link" data-hover-text="Servers">
                    <a href="{% url 'gp-servers' %}"><img class="sidebar-img-servers" src="{% static 'images/servers.png' %}"></a>
                </div>
    
                <div class="sidebar-link" data-hover-text="Support">
                    <a href="{% url 'gp-support' %}"><img class="sidebar-img-servers" src="{% static 'images/support.png' %}"></a>
                </div>
    
                <div class="sidebar-link" data-hover-text="User Panel">
                    <a href="{% url 'gp-user' %}"><img class="sidebar-img-servers" src="{% static 'images/user.png' %}"></a>
                </div>
            </div>
    
        </div>
    </div>




</body>
</html>